body,html{
    margin: 0;
    padding: 0;
    width: 100%;
}

footer{
    background-color: #18181C;
    color: white;
    display: flex;
    padding: 2em;
}

.footerLinks{
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: .75em; /* ruimte tussen de links.*/
}
.footerLinks:hover{
    color: lightslategray;
}

.footerTitles{
    color: gray;
    font-size: 1.5em;
    margin-bottom: .5em;
}

.footerArticles{
    width: 30%;
    
}