/* ###################################*/
/*----------------Body----------------*/
/* ###################################*/

body{
    background-color: #34343c;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    color: white;
}

/* ###################################*/
/*------------Account Page-------------*/
/* ###################################*/
.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
  }
  .subtext {
    color: lightgray;
  }
  .info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
  }
  .info p {
    text-align: left;
    border: solid rgba(255, 255, 255, 0.568);
    border-width: 1px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    min-width: 120px;
    place-content: center;
  }
  .change-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    margin-top: 10px;
    border: none;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    height: 35px;
  }
  
/* ###################################*/
/*-----------Character Page------------*/
/* ###################################*/
#characterMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Characters{
    position: relative;
    margin: .5em;
    padding: 1em;
    display: flex; 
    flex-direction: column;
}

.characterPortraits{
    display: flex;
    border: black 1px solid;
    width: 400px;
    height: auto;

}

.characterNames{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.4em 0em 0.4em 0em;
    text-decoration: underline;
}

.characterPageBtns {
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    position: absolute;
}

#favouriteBtn{
    right: 15px;
}
#blacklistBtn{
    left: 15px;
}
.characterPageBtnImages{
    width: 32px;
}


/* ###################################*/
/*------------Chacter Info-------------*/
/* ###################################*/

.charInfoContainer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.aboutContainer{
    display: flex;
    flex-direction: column;
}
.winLoseContainer{
    display: flex;
    align-items: center;
    color: white;
    #button{
        font-size: 100px;
    }
    p{
        font-size: 100px;
    }
}
.aboutTitle, .about{
    color: white;
}
.charImg {
    width: 350px;
    padding: 10px;
}
/*Favorites*/

/*Blacklist*/

#blacklistedCharacterSection{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 1em;
    overflow: auto;
    min-height: 100vh;
}

.blacklistedCharacters{
    border: white 1px solid;
    display: flex;
    width: 40%;
    height: 30%;
    position: relative;
    margin: 1em;
}

.blacklistedCharactersImages{
    width: 300px;
    border: 1px white solid;
}

.blacklistedCharactersText{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
}

.blacklistedCharacterNames{
    border-bottom: 1px white solid;
    font-size: 1.5em;
    text-align: center;
    
}

.blacklistReasons{
    height: auto;
    padding: 0em 1.5em 1em 1em;
    position: relative;
}

#BlacklistReasonEditBtn{
    bottom: 0px;
    right: 0px;
}

#RemoveBlacklistBtn{
    top: 2px;
    left: 0px;
}
.blacklistBtns{
    background: none;
    border: none;
    position: absolute;
}
.blacklistBtnImages{
    width: 24px;
    height: 24px;
}


/* ###################################*/
/*---------------Landing--------------*/
/* ###################################*/

#Mainlanding{
    height:70%;
    width: 100vw;
    background-color: rgb(18, 18, 1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: sans-serif;

}

#Mainlanding > section{

    margin: 2.5rem 2.5rem;
    padding: 4rem;
    height: 400px;
    width: 300px;
    border-width: 4px;
    border-color: yellow;
    border-style:outset;
}

#Mainlanding > section > h1{
    text-align: center;
    padding-top: 1rem;
    color: white;
}

#Fifa{
    background-image: url("/Images/Backgrounds/Fifa.jpg");
    background-position: center;
}

#Fortnite{
    background-image: url("/Images/Backgrounds/Fortnite.jpg");
    background-position: center;
}

#LegoMasters{
    background-image: url("/Images/Backgrounds/LegoMasters.jpg");
    background-position: center;
}

#Lotr{
    background-image: url("/Images/Backgrounds/LOTR.jpg");
    background-position: center;
}

#Mtg{
    background-image: url("/Images/Backgrounds/MagicTheGathering.jpg");
    background-position: center;
}

#Pokemon{
    background-image: url("/Images/Backgrounds/Pokemon.jpg");
    background-position: center;
}

/* ###################################*/
/*-----------Character Info-----------*/
/* ###################################*/
.containerCI {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .character-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  
  .text-container {
    flex: 1;
    padding: 20px;
    color: lightgrey;
  }
  
  .title {
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
  }
  
  .subtext {
    font-size: 1.5rem;
    color: lightgrey;
    margin: 10px 0;
  }
  
/* ###################################*/
/*-------------Favourites--------------*/
/* ###################################*/

/* ###################################*/
/*-------------Blacklist--------------*/
/* ###################################*/

/* ###################################*/
/*----------------Landing-----------------*/
/* ###################################*/

/* ###################################*/
/*----------------Contact-----------------*/
/* ###################################*/

/* ###################################*/
/*----------------FAQ-----------------*/
/* ###################################*/
.nav,
.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.container {
  width: 50%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.faq-item {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.question {
  font-weight: bold;
  margin: 0 0 10px;
}

.answer {
  color: lightgray;
  margin: 0;
}

/* ###################################*/
/*----------------Nav-----------------*/
/* ###################################*/

nav{
    width: 100%;
    display: flex;
    background-color: #18181C;
    padding: .5em 0em 0.5em 0em;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navLinksList,ul{
    list-style: none;
}

#navLogoImage{
    padding-left: .5em;
    width: 128px;  
    height: 48px;
}

.navLinks{
    text-decoration: none;
    color: white;
    padding-left: 1em;
}
.navLinks:hover{
    color: lightslategrey;
}
.searchBar{
    display: flex;
    background: white;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 0 0 1em;
    padding-left: .5em ;
}

#searchBar {
    border: none;
    outline: none;
    border-radius: 25px;
}
#searchBtn {
    border: none;
    background: #007BFF;
    color: white;
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
}

#searchBtn:hover {
    background: #0056b3;
}
#loginBtn{
    background-color: rgb(247,255,25); 
    border: none;  
    padding: 8px 16px;  
    text-decoration: none;
    border-radius: 8px;  
    cursor: pointer;  
    transition: rgb(247,255,25) 0.3s, transform 0.3s ease-in-out;
}
#accountImage{
    width: 48px ;
    height: 48px;
    border-radius: 50%;
}
.navRight{
    display: flex;
    margin-left: auto;
    gap: .5em;
    padding-right: .5em;
}
/* ###################################*/
/*--------------Footer----------------*/
/* ###################################*/
/* General footer styling such as bg color, font, text color*/
footer {
    width: 100%;
    background-color: #18181C;
    font-family: sans-serif;
    color: white;
    margin-top: auto;
    padding: 10px;
}

/* Styling and spacing of the link sections */
.footerLinks {
    padding-top: 20px;
    margin: 10px;
    flex: 1; 
    display: flex;
    flex-direction: column;
}

/* Flex container for the section with links */
#LinkSection {
    display: flex;
    flex-direction: row;
    gap: 30px; 
    
}

/* LinksSections title */
h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #f4f4f4;
    font-weight: 1000;
}

li {
    margin: 5px;
}

a {
    color: lightgray;
    text-decoration: none;
    font-weight: 750;
}

#socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

#footerLogo > img {
    height: 64px;
    width: 128px;
}

.socialsIcons {
    width: 32px;
    height: 32px;
    padding-left: 10px;
}
#socialsIconsDiv{
    display: flex;
    justify-content: space-between;
    padding-right: 2em;
}

/* ###################################*/
/*--------------Media Queries----------*/
/* ###################################*/

/* Default styles for larger screens (desktop) */

/* Medium Devices (Tablets) */
@media only screen and (max-width: 1440px) {   

/* BLACKLIST PAGE*/
.blacklistedCharacters{
    width: 70%;
}
/*##################*/
}


/* Large Devices (Large Desktop) */
@media only screen and (max-width: 1024px) {
/* NAV */
#searchBar{
    width: 150px;
}
#navLinks{
    padding-left: .5em;
}
/*##################*/
/* CHARACTER PAGE*/
.characterNames{
    font-size: 1.3em;
}
.characterDescriptions{
    font-size: 0.8em;
}
/*##################*/
/* BLACKLIST PAGE*/

/*##################*/
}

/* Medium Devices (Tablets) */
@media only screen and (max-width: 768px) {    
/* NAV */
    .navLinks{
        display: none;
    }
    #searchBar{
        width: 100px;
    }
    #loginBtn{
        height: 48px;
    }
/*##################*/  
/* BLACKLIST*/ 
    .blacklistedCharactersImages{
        width: 150px;
        height: auto;
    }
    .blacklistedCharacterNames{
        font-size: 1.3em;
    }
    .blacklistReasons{
        font-size: .7em;
    }
/*##################*/  
/*##################*/   
/* CHARACTER PAGE*/

    .characterNames{
        font-size: 1.1em;
    }
    .characterPortraits{
        width: 250px;
    }
    #loginBtn{
        height: 32px;
        margin-top: 10px;
        font-size: .5em;
    }
/*##################*/
}

/* Small Devices (Phones) */
@media only screen and (max-width: 480px) {
/* NAV */
    .navLinks{
        display: none;
    }
    #searchBar{
        width: 100px;
    }
    #loginBtn{
        height: 32px;
        margin-top: 10px;
        font-size: .5em;
    }

/*##################*/    
/*FOOTER SECTION */
    .socialsIcons {
        width: 24px;
        height: 24px;
        padding-left: auto;
    }

    #LinkSection{
        width: 50%;
    }


    .footerLinks{
        padding-top: 0em;
    }

    #footerLogo{
        height: 64px;
        width: 128px;
    }
/* ############# */
/* CHARACTER PAGE*/
    .characterPortraits{
        width: 300px;
        height: 300px;
    }
    .characterNames{
        font-size: 1.3em;
    }   

/*##################*/
/* BLACKLIST PAGE*/

#blacklistedCharacterSection{
    width: 80%;
    justify-content: center;
}

.blacklistedCharacterNames{
    font-size: 1em;
}

.blacklistedCharacters{
    display: flex;
    flex-direction: column;
    width: 80%;

}

.blacklistedCharactersImages{
    width: 100%;
}

.blacklistedCharactersText{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.blacklistedCharacterNames{
    padding: .3em 0em .3em 0em;
    font-size: 1.3em;
    width: 100%;
    border-bottom: white 1px solid;
}

.blacklistReasons{
    font-size: 1em;
    text-align: center;
    padding: 0.3em 1.5em 1.5em 0.3em;
    position: relative;
}

#BlacklistReasonEditBtn{
    bottom: 0px;
    right: 0px;
}

#RemoveBlacklistBtn{
    top: 2px;
    left: 0px;
}
.blacklistBtns{
    background: none;
    border: none;
    position: absolute;
}
.blacklistBtnImages{
    width: 24px;
    height: 24px;
}
/*##################*/
}