/* ###################################*/
/*----------------Body----------------*/
/* ###################################*/

body{
    overflow-x: hidden;
    background-color: #34343c;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    color: white;
}

/* ###################################*/
/*------------Home Page-------------*/
/* ###################################*/

#homepage {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    margin: 0 auto;
}

#introsec > h1{
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 700px;
    color:white;
    text-align: center;
    margin-left: 500;
}

#introsec > p{
    margin-bottom: 4rem;
    padding: 1rem;
    text-align: center;
    width: 1200px;
}

#seccontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-left: -15rem;
    margin-bottom: 60px;
}

#recentsec{
    border-radius: 10px;
    padding: 1rem;
    border-radius: 15px;
    border: 6px solid rgb(181, 178, 178);
}

#recentsec > h2{
    width: 440px;
    font-weight: 600;
    font-size:xx-large;
}

#recentsec div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1rem;
}

#recentsec div p{
    padding: 1rem;
}


#recentsec img {
    border-radius: 200px;    
    padding-top: 1rem;
}

#statsec{
    border-radius: 10px;
    padding: 1rem;
    border-radius: 15px;
    border: 6px solid rgb(181, 178, 178);
}

#statsec > h2{
    width: 440px;
    font-weight: 600;
    font-size:xx-large;
}

#statsec div{
    display: grid;
    grid-template-columns: 1fr;
}

#statsec div p{
    margin-top: 1rem;
    padding-top: 3rem;
}

#newcharsec{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 660px;
    height:600px ;
    border-radius: 15px;
    border: 6px solid rgb(181, 178, 178);
    
}

#newcharsec h2{
    width: 440px;
    font-weight: 600;
    font-size:xx-large;
}

#newcharsec img{
border-radius: 225px;
padding-top: 1rem;
}

#newcharsec > div:nth-child(2){
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 8rem;
    margin-top: 4rem;
    margin-left: -5rem;
}

#newcharsec > div:nth-child(2) > button{
    margin-top: 1rem;
    height: 60px;
    width: 150px;
    border-radius: 10px;
    font-weight: 600;
    background-color: yellow;
}

#newcharsec > div > p{
    margin-top: 1rem;
}

#news {
    width:500px;
margin-left: 1000px;
margin-bottom: 60px;
}

#news > button {
    align-items: center;
    width: 200px;
    background-color: yellow;
    color:black;
    height: 70px;
    font-weight: 800;
    font-size: large;
    margin-top: 10px;
}
/* ###################################*/
/*------------Account Page-------------*/
/* ###################################*/
.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
  }
  .subtext {
    color: lightgray;
  }
  .info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
  }
  .info p {
    text-align: left;
    border: solid rgba(255, 255, 255, 0.568);
    border-width: 1px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    min-width: 120px;
    place-content: center;
  }
  .change-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    margin-top: 10px;
    border: none;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    height: 35px;
  }
  
/* ###################################*/
/*-----------Character Page------------*/
/* ###################################*/
#characterMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Characters{
    position: relative;
    margin: .5em;
    padding: 1em;
    display: flex; 
    flex-direction: column;
}

.characterPortraits{
    display: flex;
    border: black 1px solid;
    width: 400px;
    height: auto;

}

.characterNames{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.4em 0em 0.4em 0em;
    text-decoration: underline;
}

.characterPageBtns {
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    position: absolute;
}

#favouriteBtn{
    right: 15px;
}
#blacklistBtn{
    left: 15px;
}
.characterPageBtnImages{
    width: 32px;
}



/* ###################################*/
/*------------Chacter Info-------------*/
/* ###################################*/

.charInfoContainer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.aboutContainer{
    display: flex;
    flex-direction: column;
}
.winLoseContainer{
    display: flex;
    align-items: center;
    color: white;
    #button{
        font-size: 100px;
    }
    p{
        font-size: 100px;
    }
}
.aboutTitle, .about{
    color: white;
}
.charImg {
    width: 350px;
    padding: 10px;
}

/* ###################################*/
/*---------------Landing--------------*/
/* ###################################*/

#Mainlanding{
    height:70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 30rem;
    padding-bottom: 80px;
}

#Mainlanding > section{

    margin: 2.5rem 2.5rem;
    padding: 4rem;
    height: 800px;
    width: 600px;
    align-items: center;
    color: red;
    margin-left: 15rem;
}

#Fifa > button{
    background-image: url("/Images/Backgrounds/Fifa.jpg");
    height: 680px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

#Fifa > a{
    background-color: yellow;
    font-size: x-large;
    font-weight: 800;
    padding: 1rem;
    width: 200px;
    color: black;
    display: inline-block;
    text-align: center;
    margin-left: 9rem;
    margin-top: 1rem;
}

#Fortnite > button{
    background-image: url("/Images/Backgrounds/Fortnite.jpg");
    height: 680px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    
}

#Fortnite > a{
    background-color: yellow;
    font-size: x-large;
    font-weight: 800;
    padding: 1rem;
    width: 200px;
    color: black;
    display: inline-block;
    text-align: center;
    margin-left: 9rem;
    margin-top: 1rem;
    text-decoration: none;
}

#LegoMasters > button{
    background-image: url("/Images/Backgrounds/LegoMasters.jpg");
    height: 680px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

#LegoMasters > a{
    background-color: yellow;
    font-size: x-large;
    font-weight: 800;
    padding: 1rem;
    width: 200px;
    color: black;
    display: inline-block;
    text-align: center;
    margin-left: 9rem;
    margin-top: 1rem;
}

#Lotr > button{
    background-image: url("/Images/Backgrounds/LOTR.jpg");
    height: 680px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

#Lotr > a{
    background-color: yellow;
    font-size: x-large;
    font-weight: 800;
    padding: 1rem;
    width: 200px;
    color: black;
    display: inline-block;
    text-align: center;
    margin-left: 9rem;
    margin-top: 1rem;
}

#Mtg > button{
    background-image: url("/Images/Backgrounds/MagicTheGathering.jpg");
    height: 680px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

#Mtg > a{
    background-color: yellow;
    font-size: x-large;
    font-weight: 800;
    padding: 1rem;
    width: 200px;
    color: black;
    display: inline-block;
    text-align: center;
    margin-left: 9rem;
    margin-top: 1rem;
}

#Pokemon > button{
    background-image: url("/Images/Backgrounds/Pokemon.jpg");
    height: 680px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y:-60rem;
}

#Pokemon > a{
    background-color: yellow;
    font-size: x-large;
    font-weight: 800;
    padding: 1rem;
    width: 200px;
    color: black;
    display: inline-block;
    text-align: center;
    margin-left: 9rem;
    margin-top: 1rem;
}

/* ###################################*/
/*----------------Login---------------*/
/* ###################################*/

#Login{
background-color: black;
height: 100%;
}

#Login > form{
    background-color: rgba(72, 72, 72, 0.379);
    border-radius: 15px;
    margin:1.5rem auto;
    height: 800px;
    display: grid;  
    padding:1.5rem;
    color: lightgray;
}

#Login > form > a{
    margin-top: -100px;
}

#Login > form > label{
padding-bottom: 1rem;
}

#Login > form > input{
height: 40px;
background-color: rgb(64, 64, 75);
border-radius: 15px;
border-color: lightgray;
margin-top: -80px;
}

#Login > form > button{
    height: 60px;
    background-color: rgb(64, 64, 75);
    border-radius: 15px;
    border-color: lightgray;
    color: black;
    font-size: medium;
    font-weight: 500;
}

#socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    margin-top: 10px;
    height: 100px;
}

#socials > button{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#socials > button > img{
    max-width: 100px;
    height: auto;
    border-radius: 10px;
}

/* ###################################*/
/*-----------Character Info-----------*/
/* ###################################*/
.containerCI {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .character-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  
  .text-container {
    flex: 1;
    padding: 20px;
    color: lightgrey;
  }
  
  .title {
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
  }
  
  .subtext {
    font-size: 1.5rem;
    color: lightgrey;
    margin: 10px 0;
  }
  
/* ###################################*/
/*-------------Favourites--------------*/
/* ###################################*/

#favoriteCharactersMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.favoritedCharacters{
    display: flex;
    padding: 1em;
}

.FavoriteCharacterPortraitsAndCosmeticsSections{
    position: relative;
}

/* BUTTONS*/
.WinLossBtns{
    background: transparent;
    border: none;
}
.WinLossBtnsImages{
    width: 20px;
    cursor: pointer;
}

.favoritedBtns,.favoriteCharacterCosmeticBtns{
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
}

.favoritedBtns{
    right: 0px;
}

.favoriteCharacterCosmeticImages{
    width: 48px;
    height: 48px;
    border: black 1.5px solid;
}
.favoriteCharacterCosmeticBtns{
    bottom: 0px;
}
#favoriteCharacterCosmeticBtn1{
    right: 27%;
}
#favoriteCharacterCosmeticBtn2{
    left: 27%;
}

/* BUTTONS*/
.favoriteCharacterPortraits{
    width: 250px;
    height: 250px;
    border: white 1px solid;
    background: radial-gradient(circle,lightblue,rgb(0, 132, 255));
}

.favouritedCharacterTexts{
    border: white 1px solid;
    width: 90%;
    height: 250px;
    padding-left: .5em;
}

.favoriteCharacterNames{
    font-weight: 1000;
    text-underline-offset: 2px;
    font-size: 2em;
    margin-right: .5em;
}

.favoriteCharactersStatictics{
    display: flex;
    margin-bottom: .3em;
    font-size: 1.4em;
}
.label{
    font-weight: bold;
}



/* ###################################*/
/*-------------Blacklist--------------*/
/* ###################################*/


/*Blacklist*/

#blacklistedCharacterSection{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 1em;
    overflow: auto;
    min-height: 100vh;
}

.blacklistedCharacters{
    border: white 1px solid;
    display: flex;
    width: 40%;
    height: 30%;
    position: relative;
    margin: 1em;
}

.blacklistedCharactersImages{
    width: 300px;
    border: 1px white solid;
}

.blacklistedCharactersText{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
}

.blacklistedCharacterNames{
    border-bottom: 1px white solid;
    font-size: 1.5em;
    text-align: center;
    
}

.blacklistReasons{
    height: auto;
    padding: 0em 1.5em 1em 1em;
    position: relative;
}

#BlacklistReasonEditBtn{
    bottom: 0px;
    right: 0px;
}

#RemoveBlacklistBtn{
    top: 2px;
    left: 0px;
}
.blacklistBtns{
    background: none;
    border: none;
    position: absolute;
}
.blacklistBtnImages{
    width: 24px;
    height: 24px;
}


/* ###################################*/
/*----------------Landing-----------------*/
/* ###################################*/

/* ###################################*/
/*----------------Contact-----------------*/
/* ###################################*/

/* ###################################*/
/*----------------FAQ-----------------*/
/* ###################################*/
/* nav en footer niet aanpassen foor specifieke paginas want deze zijn gelinkt met elke andere pagina en de andere nav/footer styling -nico*/
/* 
.nav,
.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
}
*/
.container {
  width: 50%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.faq-item {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.question {
  font-weight: bold;
  margin: 0 0 10px;
}

.answer {
  color: lightgray;
  margin: 0;
}

/* ###################################*/
/*----------------Nav-----------------*/
/* ###################################*/

#nav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 0.5em;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

#navLinksList,ul{
    list-style: none;
}

#navLogoImage{
    padding-left: .5em;
    width: 128px;  
    height: 48px;
}

.navLinks{
    text-decoration: none;
    color: white;
    padding-left: 1em;
}
.navLinks:hover{
    color: lightslategrey;
}
.searchBar{
    display: flex;
    background: white;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 0 0 1em;
    padding-left: .5em ;
}

#searchBar {
    border: none;
    outline: none;
    border-radius: 25px;
}
#searchBtn {
    border: none;
    background: #007BFF;
    color: white;
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
}

#searchBtn:hover {
    background: #0056b3;
}
#loginBtn{
    background-color: rgb(247,255,25); 
    border: none;  
    padding: 8px 16px;  
    text-decoration: none;
    border-radius: 8px;  
    cursor: pointer;  
    transition: rgb(247,255,25) 0.3s, transform 0.3s ease-in-out;
}
#accountImage{
    width: 48px ;
    height: 48px;
    border-radius: 50%;
}
.navRight{
    display: flex;
    margin-left: auto;
    gap: .5em;
    padding-right: 2%;
}


/* ###################################*/
/*--------------Footer----------------*/
/* ###################################*/
/* General footer styling such as bg color, font, text color*/
footer {
    width: 100%;
    background-color: #18181C;
    font-family: sans-serif;
    color: white;
    margin-top: auto;
    padding: 10px;
}

/* Styling and spacing of the link sections */
.footerLinks {
    padding-top: 20px;
    margin: 10px;
    flex: 1; 
    display: flex;
    flex-direction: column;
}

/* Flex container for the section with links */
#LinkSection {
    display: flex;
    flex-direction: row;
    gap: 30px; 
    
}

/* LinksSections title */
h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #f4f4f4;
    font-weight: 1000;
}

li {
    margin: 5px;
}

a {
    color: lightgray;
    text-decoration: none;
    font-weight: 750;
}

#socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

#footerLogo > img {
    height: 64px;
    width: 128px;
}

.socialsIcons {
    width: 32px;
    height: 32px;
    padding-left: 10px;
}
#socialsIconsDiv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-right: 3%;
}

/* ###################################*/
/*--------------Media Queries----------*/
/* ###################################*/

/* Default styles for larger screens (desktop) */

/* Medium Devices (Tablets) */
@media only screen and (max-width: 1440px) {   

/* BLACKLIST PAGE*/
.blacklistedCharacters{
    width: 70%;
}
/*##################*/
}


/* Large Devices (Large Desktop) */
@media only screen and (max-width: 1024px) {
/* NAV */
#searchBar{
    width: 150px;
}
#navLinks{
    padding-left: .5em;
}
/*##################*/
/* CHARACTER PAGE*/
.characterNames{
    font-size: 1.3em;
}
.characterDescriptions{
    font-size: 0.8em;
}
/*##################*/
/* BLACKLIST PAGE*/

/*##################*/
}

/* Medium Devices (Tablets) */
@media only screen and (max-width: 768px) {    
/* NAV */
    .navLinks{
        display: none;
    }
    #searchBar{
        width: 100px;
    }
    #loginBtn{
        height: 48px;
    }
/*##################*/  
/* BLACKLIST*/ 
    .blacklistedCharactersImages{
        width: 150px;
        height: auto;
    }
    .blacklistedCharacterNames{
        font-size: 1.3em;
    }
    .blacklistReasons{
        font-size: .7em;
    }
/*##################*/  
/*##################*/   
/* CHARACTER PAGE*/

    .characterNames{
        font-size: 1.1em;
    }
    .characterPortraits{
        width: 250px;
    }
    #loginBtn{
        height: 32px;
        margin-top: 10px;
        font-size: .5em;
    }
/*##################*/
/* FAVORITE PAGE*/

.favoritedCharacters{
    flex-direction: column;
}

.favoriteCharacterPortraits{
width: 100%;
}

.favouritedCharacterTexts{
    favoritedCharacters
padding: 0em;

}
.favoriteCharacterNames{
    font-size: 1.5em;
    padding-left: 1em;
}
.favoriteCharactersStatictics{
    padding-left: 1em;
}

#favoriteCharacterCosmeticBtn1{
    right: 32.5%;
}
#favoriteCharacterCosmeticBtn2{
    left: 32.5%;
}
/*##################*/
}

/* Small Devices (Phones) */
@media only screen and (max-width: 480px) {
/* NAV */
    .navLinks{
        display: none;
    }
    #searchBar,#searchBtn{
        display: none;
    }
    #loginBtn{
        height: 32px;
        margin-top: 10px;
        font-size: .5em;
    }

/*##################*/    
/*FOOTER SECTION */
    .socialsIcons {
        width: 24px;
        height: 24px;
        padding-left: auto;

    }

    #LinkSection{
        flex-direction: column;
        text-align: center;
    }


    .footerLinks{
        padding-top: 0em;
    }

    #footerLogo{
        height: 64px;
        width: 128px;
    }
/* ############# */
/* CHARACTER PAGE*/
    .characterPortraits{
        width: 250px;
        height: 250px;
    }
    .characterNames{
        font-size: 1.3em;
    }   

/*##################*/
/* BLACKLIST PAGE*/

#blacklistedCharacterSection{
    width: 80%;
    justify-content: center;
}

.blacklistedCharacterNames{
    font-size: 1em;
}

.blacklistedCharacters{
    display: flex;
    flex-direction: column;
    width: 80%;

}

.blacklistedCharactersImages{
    width: 100%;
}

.blacklistedCharactersText{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.blacklistedCharacterNames{
    padding: .3em 0em .3em 0em;
    font-size: 1.3em;
    width: 100%;
    border-bottom: white 1px solid;
}

.blacklistReasons{
    font-size: 1em;
    text-align: center;
    padding: 0.3em 1.5em 1.5em 0.3em;
    position: relative;
}

#BlacklistReasonEditBtn{
    bottom: 0px;
    right: 0px;
}

#RemoveBlacklistBtn{
    top: 2px;
    left: 0px;
}
.blacklistBtns{
    background: none;
    border: none;
    position: absolute;
}
.blacklistBtnImages{
    width: 24px;
    height: 24px;
}
/*##################*/


/* FAVORITE PAGE*/

.favoritedCharacters{
    flex-direction: column;
}

.favoriteCharacterPortraits{
width: 100%;
}

.favouritedCharacterTexts{
width: 100%;
height: 300px;

}
.favoriteCharacterNames{
    font-size: 1.5em;
    padding-left: .5em;
}
.favoriteCharactersStatictics{
    padding-left: .5em;
    padding-right: .3em;
}

#favoriteCharacterCosmeticBtn1{
    right: 30%;
}
#favoriteCharacterCosmeticBtn2{
    left: 30%;
}
/*##################*/
}

/* Login Queries */

@media (max-width: 480px) {
    #socials {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 15px;
    }
    
}

/* Landingpage Queries */

@media (max-width: 480px) {
    #Mainlanding {
        grid-template-columns: 1fr;
        padding-left: 0;
    }
    #Mainlanding > section {
        width: 100%;
        height: auto;
        padding: 2rem;
        margin: 1rem 0;
    }
    #Mainlanding > section > a {
        width: 100%;
        margin-left: 0;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    #Mainlanding {
        grid-template-columns: 1fr 1fr;
        padding-left: 5rem;
    }
    #Mainlanding > section {
        width: 90%;
        height: 600px;
        padding: 3rem;
    }
    #Mainlanding > section > a {
        width: 240px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) and (max-width: 1920px) {
    #Mainlanding {
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 10rem;
    }
    #Mainlanding > section {
        width: 500px;
        height: 700px;
        padding: 3.5rem;
    }
    #Mainlanding > section > a {
        width: 260px;
        height: 85px;
    }
}

/* Homepage Queries */

@media (max-width: 480px) {
    #seccontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    
    #news {
        margin-left: 0;
        text-align: center;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    #seccontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
        justify-content: center;
        margin-left: 0;
    }
    
    #news {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

