<%- include("partials/header") %>

    <main class="AccountPageMain">
      <article class="profile">
        <img src="profile.jpg" />
      </article>

      <article class="info">
        <p>Username</p>
        <form action="submit" class="formFAQ">
          <input type="text" />
        </form>
        <span class="change-btn">Change</span>
      </article>
      <article class="info">
        <p>Display name</p>
        <form action="submit" class="formFAQ">
          <input type="text" />
        </form>
        <span class="change-btn">Change</span>
      </article>
      <article class="info">
        <p>Phone number</p>
        <form action="submit" class="formFAQ">
          <input type="text" />
        </form>
        <span class="change-btn">Change</span>
      </article>
      <article class="info">
        <p>Email</p>
        <form action="submit" class="formFAQ">
          <input type="text" />
        </form>
        <span class="change-btn">Change</span>
      </article>
    </main>
<%- include("partials/footer") %>