<%- include("partials/header") %>

    <section id="blacklistedCharacterSection">
        <article class="blacklistedCharacters" id="blacklistedCharacter1">
            <button class="blacklistBtns" id="RemoveBlacklistBtn"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="blacklistBtnImages"></button>
            <img src="/Images/Characters/FN_CHAR1.png" alt="" class="blacklistedCharactersImages" id="blacklistedCharacterImage1">
            <div class="blacklistedCharactersText">
            <h3 class="blacklistedCharacterNames" id="blacklistedCharacterName1">John Wick</h3>
            
            <p class="blacklistReasons" id="blacklistReason1">Put a target on my back making other players target me during big multi-party fights.</p>
            <button class="blacklistBtns" id="BlacklistReasonEditBtn"><img src="/Images/ButtonImages/AdjustBtnImage.png" alt="" class="blacklistBtnImages"></button>
            </div>
        </article>

        <article class="blacklistedCharacters" id="blacklistedCharacter2">
            <button class="blacklistBtns" id="RemoveBlacklistBtn2"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="blacklistBtnImages"></button>
            <img src="/Images/Characters/FN_CHAR2.png" alt="" class="blacklistedCharactersImages" id="blacklistedCharacterImage2">
            <div class="blacklistedCharactersText">
            <h3 class="blacklistedCharacterNames" id="blacklistedCharacterName2">Desert Trooper</h3>

            <p class="blacklistReasons" id="blacklistReason1">Played him too much last year, tired of the skin.</p>
            <button class="blacklistBtns" id="BlacklistReasonEditBtn"><img src="/Images/ButtonImages/AdjustBtnImage.png" alt="" class="blacklistBtnImages"></button>
            
            </div>
        </article>

        <article class="blacklistedCharacters" id="blacklistedCharacter3">
            <button class="blacklistBtns" id="RemoveBlacklistBtn3"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="blacklistBtnImages"></button>
            <img src="/Images/Characters/FN_CHAR3.png" alt="" class="blacklistedCharactersImages" id="blacklistedCharacterImage3">
            <div class="blacklistedCharactersText">
            <h3 class="blacklistedCharacterNames" id="blacklistedCharacterName3">Tomato Trooper</h3>
            
            <p class="blacklistReasons" id="blacklistReason3">Wish I could refund this skin to be honest, biggest mispurchase so far.</p>
            <button class="blacklistBtns" id="BlacklistReasonEditBtn"><img src="/Images/ButtonImages/AdjustBtnImage.png" alt="" class="blacklistBtnImages"></button>
            </div>
        </article>

        <article class="blacklistedCharacters" id="blacklistedCharacter4">
            <button class="blacklistBtns" id="RemoveBlacklistBtn"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="blacklistBtnImages"></button>
            <img src="/Images/Characters/FN_CHAR4.png" alt="" class="blacklistedCharactersImages" id="blacklistedCharacterImage4">
            <div class="blacklistedCharactersText">
            <h3 class="blacklistedCharacterNames" id="blacklistedCharacterName4">Peelie</h3>
            
            <p class="blacklistReasons" id="blacklistReason4">Always really unlucky while playing this character. Never got any good items in chests!</p>
            <button class="blacklistBtns" id="BlacklistReasonEditBtn"><img src="/Images/ButtonImages/AdjustBtnImage.png" alt="" class="blacklistBtnImages"></button>
            </div>
        </article>

        <article class="blacklistedCharacters" id="blacklistedCharacter5">
            <button class="blacklistBtns" id="RemoveBlacklistBtn"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="blacklistBtnImages"></button>
            <img src="/Images/Characters/FN_CHAR5.png" alt="" class="blacklistedCharactersImages" id="blacklistedCharacterImage5">
            <div class="blacklistedCharactersText">
            <h3 class="blacklistedCharacterNames" id="blacklistedCharacterName5">Street Soldier</h3>
            
            <p class="blacklistReasons" id="blacklistReason5">I've Already seen to many players with this skin. Doesn't feel as unique as it did.</p>
            <button class="blacklistBtns" id="BlacklistReasonEditBtn"><img src="/Images/ButtonImages/AdjustBtnImage.png" alt="" class="blacklistBtnImages"></button>
            </div>
        </article>

        <article class="blacklistedCharacters" id="blacklistedCharacter6">
            <button class="blacklistBtns" id="RemoveBlacklistBtn"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="blacklistBtnImages"></button>
            <img src="/Images/Characters/FN_CHAR6.png" alt="" class="blacklistedCharactersImages" id="6">
            <div class="blacklistedCharactersText">
            <h3 class="blacklistedCharacterNames" id="blacklistedCharacterName6">Zoey</h3>
            
            <p class="blacklistReasons" id="blacklistReason5">Overused by too many players and didn't play well with her.</p>
            <button class="blacklistBtns" id="BlacklistReasonEditBtn"><img src="/Images/ButtonImages/AdjustBtnImage.png" alt="" class="blacklistBtnImages"></button>
            </div>
        </article>

    </section>
<%- include("partials/footer") %>