<%- include("partials/header") %>

        <main id="characterMain">
            <article id="character1" class="Characters">
                <div class="characterBtnContainer">
                    <button class="characterPageBtns" id="blacklistBtn"><img src="/Images/ButtonImages/blackEmptyFavouriteStar.png" alt="" class="characterPageBtnImages"></button>
                    <button class="characterPageBtns" onclick=toggleBlacklist(this) id="favouriteBtn"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="characterPageBtnImages"></button>
                </div>
                <a href="CharacterInfo.html"><img src="/Images/Characters/FN_CHAR1.png" alt="" id="character1portrait" class="characterPortraits"></a>

                <h2 class="characterNames" id="JohnWick">John Wick</h2>
            </article>

            <article id="character2" class="Characters">
                <div class="characterBtnContainer">
                    <button class="characterPageBtns"  id="blacklistBtn"><img src="/Images/ButtonImages/blackEmptyFavouriteStar.png" alt="" class="characterPageBtnImages"></button>
                    <button class="characterPageBtns" onclick=toggleBlacklist(this) id="favouriteBtn"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="characterPageBtnImages"></button>
                </div>
                <img src="/Images/Characters/FN_CHAR2.png" alt="" id="character2portrait" class="characterPortraits">
                <h2 class="characterNames" id="characterName1">Desert Trooper</h2>
            </article>

            <article id="character3" class="Characters">
                <div class="characterBtnContainer">
                    <button class="characterPageBtns" id="blacklistBtn"><img src="/Images/ButtonImages/blackEmptyFavouriteStar.png" alt="" class="characterPageBtnImages"></button>
                    <button class="characterPageBtns" onclick=toggleBlacklist(this) id="favouriteBtn"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="characterPageBtnImages"></button>
                </div>
                <img src="/Images/Characters/FN_CHAR3.png" alt="" id="character3portrait" class="characterPortraits">
                <h2 class="characterNames" id="characterName3">Tomato Trooper</h2>
            </article>

            <article id="character4" class="Characters">
                <div class="characterBtnContainer">
                    <button class="characterPageBtns" id="blacklistBtn"><img src="/Images/ButtonImages/blackEmptyFavouriteStar.png" alt="" class="characterPageBtnImages"></button>
                    <button class="characterPageBtns" onclick=toggleBlacklist(this) id="favouriteBtn"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="characterPageBtnImages"></button>
                </div>
                <img src="/Images/Characters/FN_CHAR4.png" alt="" id="character4portrait" class="characterPortraits">
                <h2 class="characterNames" id="characterName4">Peelie</h2>
            </article>

            <article id="character5" class="Characters">
                <div class="characterBtnContainer">
                    <button class="characterPageBtns" id="blacklistBtn"><img src="/Images/ButtonImages/blackEmptyFavouriteStar.png" alt="" class="characterPageBtnImages"></button>
                    <button class="characterPageBtns" onclick=toggleBlacklist(this) id="favouriteBtn"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="characterPageBtnImages"></button>
                </div>
                <img src="/Images/Characters/FN_CHAR5.png" alt="" id="character5portrait" class="characterPortraits">
                <h2 class="characterNames" id="characterName5">Street Soldier</h2>
            </article>

            <article id="character6" class="Characters">
                <div class="characterBtnContainer">
                    <button class="characterPageBtns" id="blacklistBtn"><img src="/Images/ButtonImages/blackEmptyFavouriteStar.png" alt="" class="characterPageBtnImages"></button>
                    <button class="characterPageBtns" onclick=toggleBlacklist(this) id="favouriteBtn"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="characterPageBtnImages"></button>
                </div>
                <img src="/Images/Characters/FN_CHAR6.png" alt="" id="character6portrait" class="characterPortraits">
                <h2 class="characterNames" id="characterName6">Zoey</h2>
            </article>

            <article id="character7" class="Characters">
                <div class="characterBtnContainer">
                    <button class="characterPageBtns" id="blacklistBtn"><img src="/Images/ButtonImages/blackEmptyFavouriteStar.png" alt="" class="characterPageBtnImages"></button>
                    <button class="characterPageBtns" onclick=toggleBlacklist(this) id="favouriteBtn"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="characterPageBtnImages"></button>
                </div>
                <img src="/Images/Characters/FN_CHAR7.png" alt="" id="character7portrait" class="characterPortraits">
                <h2 class="characterNames" id="characterName7">Omega</h2>
            </article>

            <article id="character8" class="Characters">
                <div class="characterBtnContainer">
                    <button class="characterPageBtns" id="blacklistBtn"><img src="/Images/ButtonImages/blackEmptyFavouriteStar.png" alt="" class="characterPageBtnImages"></button>
                    <button class="characterPageBtns" onclick=toggleBlacklist(this) id="favouriteBtn"><img src="/Images/ButtonImages/blackmarkButton.png" alt="" class="characterPageBtnImages"></button>
                </div>
                <img src="/Images/Characters/FN_CHAR8.png" alt="" id="character8portrait" class="characterPortraits">
                <h2 class="characterNames" id="characterName8">Royale Knight</h2>
            </article>

        </main>
<%- include("partials/footer") %>