<%- include("partials/header") %>
<form action="/Faq" method="POST">
    <main class="mainFAQ">
      <h1 FAQh1>Frequently Asked Questions</h1>
      <section class="faq-item">
        <p class="question">What is this website about?</p>
        <p class="answer">
          This website gives you an overview of your fortnite charachters and
          their individual skins and emotes, and also gives you the ability to
          mark your favourite charachters or blacklist them.
        </p>
      </section>
      <section class="faq-item">
        <p class="question">Do I have to log in to access this website?</p>
        <p class="answer">
          Yes, you have to log in, this wil give you access to your personal
          account.
        </p>
      </section>
      <section class="faq-item">
        <p class="question">Why do I see a question mark on my avatar?</p>
        <p class="answer">
          This happens because you haven't selected an avatar yet. Select an
          avatar, it will be visible.
        </p>
      </section>

      <section class="faq-item">
        <p class="question">Can I restore a blacklisted character?</p>
        <p class="answer">
          Yes you can, the ability to blacklist charachter is there, so that you
          can customize the charachter list to your liking.
        </p>
      </section>
    </main>
  </form>
<%- include("partials/footer") %>