<%- include("partials/header") %>
<main id="favoriteCharactersMain">
    <% characters.forEach(character => { %>
    <article class="favoritedCharacters" id="favoritedCharacter1">
        <section class="FavoriteCharacterPortraitsAndCosmeticsSections">
            <img src="<%= character.images.icon %>" alt="" class="favoriteCharacterPortraits" id="favoriteCharacterPortrait1">
            <button class="favoritedBtns" id="favoriteBtn">
                <img src="/Images/ButtonImages/FilledGoldFavouriteStar.png" alt="" class="favoritedBtnImages">
            </button>
            <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn1">
                <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage1">
            </button>
            <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn2">
                <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage2">
            </button>
        </section>
    
            <!--the &nbsp; is er om een spatie toe te voegen na de dubbele punt.-->
            <section class="favouritedCharacterTexts" id="favouritedCharacterText1">
                <h3 class="favoriteCharacterNames" id="favoriteCharacter1"><%= character.name %></h3>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersWins">
                    <span class="label">Gewonnen:</span> <span class="value" id="win-count"> &nbsp;0</span> 
                    <button class="WinLossBtns" id="IncreaseWinBtn1"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseWinBtn1"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersLosses">
                    <span class="label">Verloren:</span> <span class="value" id="lose-count">&nbsp;0</span>
                    <button class="WinLossBtns" id="IncreaseLossnBtn1"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseLossBtn1"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersGamesPlayed">
                    <span class="label">Spellen Gespeeld:</span> <span class="value" id="gameCount">&nbsp;0</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersHSpercentage">
                    <span class="label">Headshot Percentage:</span> <span class="value">&nbsp;27.3%</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAvgKills">
                    <span class="label">Gemiddelde Kills per game:</span> <span class="value">&nbsp;4.3</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAccuracy">
                    <span class="label">Nauwkeurigheid:</span> <span class="value">&nbsp;64.8%</span>
                </p>

                <p class="favoriteCharactersStatictics" id="favoriteCharactersWR">
                    <span class="label">Win ratio:</span> <span class="value" id="WinRate">&nbsp;0%</span>
                </p>
            </section> 
        </article>
    <% }); %>
</main>

<%- include("partials/footer") %>
