<%- include("partials/header") %>
<script src="/TypeScript/winLoseButton.js"></script>
<main id="favoriteCharactersMain">
    <article class="favoritedCharacters" id="favoritedCharacter1">
        <section class="FavoriteCharacterPortraitsAndCosmeticsSections">

                <img src="/Images/Characters/FN_CHAR1.png" alt="" class="favoriteCharacterPortraits" id="favoriteCharacterPortrait1">

                <button class="favoritedBtns" id="favoriteBtn">
                    <img src="/Images/ButtonImages/FilledGoldFavouriteStar.png" alt="" class="favoritedBtnImages">
                </button>

                <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn1">
                    <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage1">
                </button>
                <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn2">
                    <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage2">
                </button>
            </section>
    
            <!--the &nbsp; is er om een spatie toe te voegen na de dubbele punt.-->
            <section class="favouritedCharacterTexts" id="favouritedCharacterText1">
                <h3 class="favoriteCharacterNames" id="favoriteCharacter1">John Wick</h3>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersWins">
                    <span class="label">Gewonnen:</span> <span class="value" id="win-count"> &nbsp;0</span> 
                    <button class="WinLossBtns" id="IncreaseWinBtn1"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseWinBtn1"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersLosses">
                    <span class="label">Verloren:</span> <span class="value" id="lose-count">&nbsp;0</span>
                    <button class="WinLossBtns" id="IncreaseLossnBtn1"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseLossBtn1"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersGamesPlayed">
                    <span class="label">Spellen Gespeeld:</span> <span class="value" id="gameCount">&nbsp;0</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersHSpercentage">
                    <span class="label">Headshot Percentage:</span> <span class="value">&nbsp;27.3%</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAvgKills">
                    <span class="label">Gemiddelde Kills per game:</span> <span class="value">&nbsp;4.3</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAccuracy">
                    <span class="label">Nauwkeurigheid:</span> <span class="value">&nbsp;64.8%</span>
                </p>

                <p class="favoriteCharactersStatictics" id="favoriteCharactersWR">
                    <span class="label">Win ratio:</span> <span class="value" id="WinRate">&nbsp;0%</span>
                </p>
        </section> 
    </article>

    <article class="favoritedCharacters" id="favoritedCharacter1">
        <section class="FavoriteCharacterPortraitsAndCosmeticsSections">

                <img src="/Images/Characters/FN_CHAR2.png" alt="" class="favoriteCharacterPortraits" id="favoriteCharacterPortrait1">

                <button class="favoritedBtns" id="favoriteBtn">
                    <img src="/Images/ButtonImages/FilledGoldFavouriteStar.png" alt="" class="favoritedBtnImages">
                </button>

                <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn1">
                    <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage1">
                </button>
                <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn2">
                    <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage2">
                </button>
            </section>
    
            <!--the &nbsp; is er om een spatie toe te voegen na de dubbele punt.-->
            <section class="favouritedCharacterTexts" id="favouritedCharacterText1">
                <h3 class="favoriteCharacterNames" id="favoriteCharacter1">Desert Trooper</h3>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersWins">
                    <span class="label">Gewonnen:</span> <span class="value"> &nbsp;3</span> 
                    <button class="WinLossBtns" id="IncreaseWinBtnX"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseWinBtnX"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersLosses">
                    <span class="label">Verloren:</span> <span class="value">&nbsp;7</span>
                    <button class="WinLossBtns" id="IncreaseLossnBtnX"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseLossBtnX"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersGamesPlayed">
                    <span class="label">Spellen Gespeeld:</span> <span class="value">&nbsp;10</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersHSpercentage">
                    <span class="label">Headshot Percentage:</span> <span class="value">&nbsp;27.3%</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAvgKills">
                    <span class="label">Gemmidelde kills per game:</span> <span class="value">&nbsp;4.3</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAccuracy">
                    <span class="label">Nauwkeurigheid:</span> <span class="value">&nbsp;64.8%</span>
                </p>

                <p class="favoriteCharactersStatictics" id="favoriteCharactersWR">
                    <span class="label">Win Ratio:</span> <span class="value">&nbsp;30%</span>
                </p>
        </section> 
    </article>

    <article class="favoritedCharacters" id="favoritedCharacter1">
        <section class="FavoriteCharacterPortraitsAndCosmeticsSections">

                <img src="/Images/Characters/FN_CHAR3.png" alt="" class="favoriteCharacterPortraits" id="favoriteCharacterPortrait1">

                <button class="favoritedBtns" id="favoriteBtn">
                    <img src="/Images/ButtonImages/FilledGoldFavouriteStar.png" alt="" class="favoritedBtnImages">
                </button>

                <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn1">
                    <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage1">
                </button>
                <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn2">
                    <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage2">
                </button>
            </section>
    
            <!--the &nbsp; is er om een spatie toe te voegen na de dubbele punt.-->
            <section class="favouritedCharacterTexts" id="favouritedCharacterText1">
                <h3 class="favoriteCharacterNames" id="favoriteCharacter1">Tomato Trooper</h3>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersWins">
                    <span class="label">Gewonnen:</span> <span class="value"> &nbsp;3</span> 
                    <button class="WinLossBtns" id="IncreaseWinBtnX"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseWinBtnX"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersLosses">
                    <span class="label">Verloren:</span> <span class="value">&nbsp;7</span>
                    <button class="WinLossBtns" id="IncreaseLossnBtnX"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseLossBtnX"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersGamesPlayed">
                    <span class="label">Spellen Gespeeld:</span> <span class="value">&nbsp;10</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersHSpercentage">
                    <span class="label">Headshot Percentage:</span> <span class="value">&nbsp;27.3%</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAvgKills">
                    <span class="label">Gemmidelde kills per game:</span> <span class="value">&nbsp;4.3</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAccuracy">
                    <span class="label">Nauwkeurigheid:</span> <span class="value">&nbsp;64.8%</span>
                </p>

                <p class="favoriteCharactersStatictics" id="favoriteCharactersWR">
                    <span class="label">Win Ratio:</span> <span class="value">&nbsp;30%</span>
                </p>
        </section> 
    </article>

    <article class="favoritedCharacters" id="favoritedCharacter1">
        <section class="FavoriteCharacterPortraitsAndCosmeticsSections">

                <img src="/Images/Characters/FN_CHAR4.png" alt="" class="favoriteCharacterPortraits" id="favoriteCharacterPortrait1">

                <button class="favoritedBtns" id="favoriteBtn">
                    <img src="/Images/ButtonImages/FilledGoldFavouriteStar.png" alt="" class="favoritedBtnImages">
                </button>

                <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn1">
                    <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage1">
                </button>
                <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn2">
                    <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage2">
                </button>
            </section>
    
            <!--the &nbsp; is er om een spatie toe te voegen na de dubbele punt.-->
            <section class="favouritedCharacterTexts" id="favouritedCharacterText1">
                <h3 class="favoriteCharacterNames" id="favoriteCharacter1">Peelie</h3>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersWins">
                    <span class="label">Gewonnen:</span> <span class="value"> &nbsp;3</span> 
                    <button class="WinLossBtns" id="IncreaseWinBtnX"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseWinBtnX"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersLosses">
                    <span class="label">Verloren:</span> <span class="value">&nbsp;7</span>
                    <button class="WinLossBtns" id="IncreaseLossnBtnX"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseLossBtnX"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersGamesPlayed">
                    <span class="label">Spelletjes Gespeeld:</span> <span class="value">&nbsp;10</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersHSpercentage">
                    <span class="label">Headshot Percentage:</span> <span class="value">&nbsp;27.3%</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAvgKills">
                    <span class="label">Gemmidelde kills per game:</span> <span class="value">&nbsp;4.3</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAccuracy">
                    <span class="label">Nauwkeurigheid:</span> <span class="value">&nbsp;64.8%</span>
                </p>

                <p class="favoriteCharactersStatictics" id="favoriteCharactersWR">
                    <span class="label">Win Ratio:</span> <span class="value">&nbsp;30%</span>
                </p>
        </section> 
    </article>

    <article class="favoritedCharacters" id="favoritedCharacter1">
        <section class="FavoriteCharacterPortraitsAndCosmeticsSections">

                <img src="/Images/Characters/FN_CHAR5.png" alt="" class="favoriteCharacterPortraits" id="favoriteCharacterPortrait1">

                <button class="favoritedBtns" id="favoriteBtn">
                    <img src="/Images/ButtonImages/FilledGoldFavouriteStar.png" alt="" class="favoritedBtnImages">
                </button>

                <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn1">
                    <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage1">
                </button>
                <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn2">
                    <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage2">
                </button>
            </section>
    
            <!--the &nbsp; is er om een spatie toe te voegen na de dubbele punt.-->
            <section class="favouritedCharacterTexts" id="favouritedCharacterText1">
                <h3 class="favoriteCharacterNames" id="favoriteCharacter1">Street Soldier</h3>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersWins">
                    <span class="label">Gewonnen:</span> <span class="value"> &nbsp;3</span> 
                    <button class="WinLossBtns" id="IncreaseWinBtnX"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseWinBtnX"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersLosses">
                    <span class="label">Verloren:</span> <span class="value">&nbsp;7</span>
                    <button class="WinLossBtns" id="IncreaseLossnBtnX"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseLossBtnX"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersGamesPlayed">
                    <span class="label">Spellen Gespeeld:</span> <span class="value">&nbsp;10</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersHSpercentage">
                    <span class="label">Headshot Percentage:</span> <span class="value">&nbsp;27.3%</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAvgKills">
                    <span class="label">Gemmidelde kills per game:</span> <span class="value">&nbsp;4.3</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAccuracy">
                    <span class="label">Nauwkeurigheid:</span> <span class="value">&nbsp;64.8%</span>
                </p>

                <p class="favoriteCharactersStatictics" id="favoriteCharactersWR">
                    <span class="label">Win Ratio:</span> <span class="value">&nbsp;30%</span>
                </p>
        </section> 
    </article>

    <article class="favoritedCharacters" id="favoritedCharacter1">
        <section class="FavoriteCharacterPortraitsAndCosmeticsSections">

                <img src="/Images/Characters/FN_CHAR6.png" alt="" class="favoriteCharacterPortraits" id="favoriteCharacterPortrait1">

                <button class="favoritedBtns" id="favoriteBtn">
                    <img src="/Images/ButtonImages/FilledGoldFavouriteStar.png" alt="" class="favoritedBtnImages">
                </button>

                <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn1">
                    <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage1">
                </button>
                <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn2">
                    <img src="/Images/ButtonImages/fortnite_weapon_slot.png" alt="" class="favoriteCharacterCosmeticImages" id="favoriteCharacterCosmeticImage2">
                </button>
            </section>
    
            <!--the &nbsp; is er om een spatie toe te voegen na de dubbele punt.-->
            <section class="favouritedCharacterTexts" id="favouritedCharacterText1">
                <h3 class="favoriteCharacterNames" id="favoriteCharacter1">Zoey</h3>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersWins">
                    <span class="label">Gewonnen:</span> <span class="value"> &nbsp;3</span> 
                    <button class="WinLossBtns" id="IncreaseWinBtnX"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseWinBtnX"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersLosses">
                    <span class="label">Verloren:</span> <span class="value">&nbsp;7</span>
                    <button class="WinLossBtns" id="IncreaseLossnBtnX"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                    <button class="WinLossBtns" id="DecreaseLossBtnX"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersGamesPlayed">
                    <span class="label">Spellen Gespeeld:</span> <span class="value">&nbsp;10</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersHSpercentage">
                    <span class="label">Headshot Percentage:</span> <span class="value">&nbsp;27.3%</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAvgKills">
                    <span class="label">Gemmidelde kills per game:</span> <span class="value">&nbsp;4.3</span>
                </p>
            
                <p class="favoriteCharactersStatictics" id="favoriteCharactersAccuracy">
                    <span class="label">Nauwkeurigheid:</span> <span class="value">&nbsp;64.8%</span>
                </p>

                <p class="favoriteCharactersStatictics" id="favoriteCharactersWR">
                    <span class="label">Win Ratio:</span> <span class="value">&nbsp;30%</span>
                </p>
        </section> 
    </article>
</main>
<<<<<<< HEAD:favoritePage.html
    
<footer>
    <section id="socials">
        <a href="#" id="footerLogo"><img src="/Images/Logos/fn_logo_met_hamer_copy.png" alt="" ></a>
        <div id="socialsIconsDiv">
            <a href="#"><img src="/Images/Icons/FacebookV3.png" alt="Facebook" class="socialsIcons"></a>
            <a href="#"><img src="/Images/Icons/TwitterV3.png" alt="Twitter" class="socialsIcons"></a>
            <a href="#"><img src="/Images/Icons/InstagramV3.png" alt="Instagram" class="socialsIcons"></a>
            <a href="#"><img src="/Images/Icons/YoutubeV3.png" alt="Youtube" class="socialsIcons"></a>
            <a href="#"><img src="/Images/Icons/WhatsAppV3.png" alt="WhatsApp" class="socialsIcons"></a>
            <a href="#"><img src="/Images/Icons/SnapchatV3.png" alt="Snapchat" class="socialsIcons"></a>
        </div>
    </section>
    
    <section id="LinkSection">
        <article class="footerLinks">
            <h3>Main</h3>
            <ul>
                <li><a href="#">Over Ons</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Verander Taal</a></li>
            </ul>
        </article>
    
        <article class="footerLinks">
            <h3>Meer</h3>
            <ul>
                <li><a href="#">Payment Options</a></li>
                <li><a href="#">Newsletter</a></li>
                <li><a href="#">Chyn+</a></li>
            </ul>
        </article>
    
        <article class="footerLinks">
            <h3>Support</h3>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Help Centrum</a></li>
            </ul>
        </article>
    </section>
</footer>
</body>
=======
<%- include("partials/footer") %>
>>>>>>> TSenEJS2:views/favoritePage.ejs
