<%- include("partials/header") %>

    <main id = "Mainlanding">
        <article class="projectArticles">
            <a href="#"><img src="Images/Backgrounds/Fifa.jpg" alt="" class="ProjectImages"></a>
            <a href="http://" class="ProjectTitles">Fifa</a>
        </article>
        
        <article class="projectArticles">
            <a href="Homepage.html"><img src="Images/Backgrounds/Fortnite Wallpaper.png" alt="" class="ProjectImages"></a>
            <a href="Homepage.html" class="ProjectTitles">Fortnite</a>
        </article>

        <article class="projectArticles">
            <a href="#"><img src="Images/Backgrounds/LegoMasters.jpg" alt="" class="ProjectImages"></a>
            <a href="http://" class="ProjectTitles">Lego Masters</a>
        </article>

        <article class="projectArticles">
            <a href="#"><img src="Images/Backgrounds/LOTR.jpg" alt="" class="ProjectImages"></a>
            <a href="http://" class="ProjectTitles">Lord of the Rings</a>
        </article>

        <article class="projectArticles">
            <a href="#"><img src="Images/Backgrounds/MagicTheGathering.jpg" alt="" class="ProjectImages"></a>
            <a href="http://" class="ProjectTitles">Magic the Gathering</a>
        </article>

        <article class="projectArticles">
            <a href="#"><img src="Images/Backgrounds/Pokemon.jpg" alt="" class="ProjectImages"></a>
            <a href="http://" class="ProjectTitles">Pokemon</a>
        </article>
    </main>

<%- include("partials/footer") %>