<link rel="stylesheet" href="reset.css">
<link rel="stylesheet" href= "style.css">

<main id="Login">
    <article id="LoginMenu">
        <img src="/Images/Logos/fn_logo_met_hamer_copy.png" alt="" id="loginLogo">
        <h2 id="LoginMenuTitle">Sign In</h2>
        <form action="/login" method="POST" id="loginForm">
            <label for="displayName">Gebruikersnaam:</label><br>
            <input type="text" id="displayName" name="displayName" required><br>

            <label for="password">Wachtwoord:</label><br>
            <input type="password" id="password" name="password" required><br>

            <button type="submit" id="LogInButton">Log in</button>
        </form>

        <a href="#" class="loginLink">Wachtwoord vergeten?</a> 

        <section id="socialsLogins">
            <button id="facebookLogin" class="SocialsLoginBtns">
                <img src="Images/Icons/Facebook LoginIcon.png" class="SocialsLoginImages">
            </button>
        </section>

        <a href="/RegistrationPage" class="loginLink">Maak Account</a>
        <a href="#" class="loginLink">Privacy Policy</a>
    </article>
</main>

