<%- include("partials/header") %>
<main id="Login">
    <article id="LoginMenu">
        <img src="/Images/Logos/fn_logo_met_hamer_copy.png" alt="" id="loginLogo">
        <h2 id="LoginMenuTitle">Sign In</h2>
        <form action="/login" method="POST" id="loginForm">
            <label for="email">Email Address:</label><br>
            <input type="email" id="email" name="email" required><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>

            <button type="submit" id="LogInButton">Log in</button>
        </form>

        <a href="#" class="loginLink">Forgot Password?</a> 

        <section id="socialsLogins">
            <button id="facebookLogin" class="SocialsLoginBtns">
                <img src="Images/Icons/Facebook LoginIcon.png" class="SocialsLoginImages">
            </button>
        </section>

        <a href="/RegistrationPage" class="loginLink">Create Account</a>
        <a href="#" class="loginLink">Privacy Policy</a>
    </article>
</main>
<%- include("partials/footer") %>